<div class="tabs">
  <a routerLink="bookmarks" routerLinkActive="selectedLink" class="tab bookmark-tab">
      <div class="tab-tile">
        <i class="material-icons-outlined">bookmarks</i>
      </div>
    </a>

  <a routerLink="todos" routerLinkActive="selectedLink" class="tab todo-tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">check</i>
    </div>
  </a>

<a routerLink="notes" routerLinkActive="selectedLink" class="tab notes-tab">
  <div class="tab-tile">
    <i class="material-icons-outlined">notes</i>
  </div>
</a>

</div>
