/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');

@import '~material-icons/iconfont/material-icons.css';

html, body {
  height: 100%;
}

html {
  font-family: 'Orienta', sans-serif;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}

.container {
  max-width: 850px;
  margin: auto;
}
